<popup>
    Add your custom html elements here
    <br>
</popup>
<br><br>
<div class="text-center">
<p style="font-size: 28px;font-weight: bold;">ng2-opd-popup</p>
<p style="margin-top: -12px;">Popup component for Angular 2 with support for aot</p>
<br>
<div>
    <span style="color: #888;font-size: 12px;">Test the Single Popup here...</span><br>
    <button class="btn btn-mbe-normal" (click)="showSample()">Open simple popup</button>
</div>
<br><br><br>

<p>You can get the component and instructions <a href="https://www.npmjs.com/package/ng2-opd-popup" target="_blank" style="color: #4180ab;">here</a> </p>

<br>
<br>
	<div class="wrapper">
	  	<ul class="social-icons icon-flat list-unstyled list-inline"> 
	      <li> <a href="https://www.facebook.com/opdahlmann" target="_blank"><i class="fa fa-facebook"></i></a></li> 
	      <li> <a href="https://github.com/opdahlmann" target="_blank"><i class="fa fa-github"></i></a></li> 
	      <li> <a href="https://twitter.com/opdahlmann" target="_blank"><i class="fa fa-twitter"></i></a></li>
	      <li> <a href="https://www.youtube.com/channel/UC_50wEWI-0xFLfAcbuA7Dzw" target="_blank"><i class="fa fa-youtube"></i></a></li>
	  	</ul>
	</div>
</div>
 


